table {
    background-color: #252525;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    
}

tbody {
    background-color: #191919;
}

th {
    border: 1px solid white;
    padding: 1rem;
}

td {
    text-align: center;
    padding: 1rem;
    border: 1px solid white;
    position: relative;
}

.course-box {
    --height: 100;

    /* background-color: #252525; */
    background-color: red;

    position: absolute;
    top: 0;
    left:0;

    width: 100%;
    height: calc(var(--height)*1%);
}