.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  position: relative;

  color: white;

  overflow: hidden;
 
} 

nav {
  position: relative;
  font-size: 2rem;
  margin: 0.5rem 2rem;
  width: 100%;
  
}

nav .logged {
  display: flex;
  flex-direction: horizontal;
}

nav .logged button {
  color: white;
  border: none;
  margin-left: auto;
  background: none;
  font-size: inherit;
}

nav .logged button:hover {
  cursor: pointer;
  color: grey;
}

/*

.App-header {
  background-color: #191919;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  top: 0;
  
} */
